
<h1 style="text-align: center">About Us</h1><br>
<h3 style="text-align: center">Looking for good cafes in Bangalore? <br>
    Specialising in healthy low-calorie food, Jain food and wide array of vegan options, <br>Little Green Café is a favourite hotspot amongst health-conscious folks. <br>From pasta to pizza, sandwich to hummus, you can ask for low-calorie variants for everything here.<br> Along with all these, dedicated smoking area, outdoor seating and free Wi-Fi are surely a bonus.<br><br>

    Location: No. 55, AS Char St, Jolly Mohalla, Ranasinghpete, Sultanpete, Bengaluru, Karnataka 560053.<br><br>
    Opening Hours: 11:00 AM to 10:30 PM<br><br>
    Average Cost for Two: INR 900<br><br>
    Zomato Rating:  * * * * * <br><br>
    Must Try Dishes: Spaghetti Pasta, Mezze Platter, Bombay Sandwich</h3>
