<div class="home-container">
    <div class="container center-container" style="color: white;">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h2 class="home-heading"> Loream Ipsum color</h2>
                <p class="home-text">In this article, we’ll show you examples of catchy restaurant slogans and taglines for many different restaurant types – from fast food to fine dining, and more. These examples are packed with restaurant slogan ideas that you can use to help your venue attract new guests, and make them remember what’s unique about your specific restaurant!</p>
                <div class="home-buttons">
                    <button type="button" class="btn success-outline round-btn" [routerLink]="['/book-table']">Book A Table</button>
                    <button type="button" class="btn success-outline round-btn" [routerLink]="['/menu-list']">Our Menu</button>
                </div>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div>