
<div class="contact-container">
    <div class="container center-container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h2 class="contact-heading">Contact Us</h2>
                <p class="contact-text">In this article, we’ll show you examples of catchy restaurant slogans and taglines for many different restaurant types – from fast food to fine dining, and more. These examples are packed with restaurant slogan ideas that you can use to help your venue attract new guests, and make them remember what’s unique about your specific restaurant!</p>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div> <br>
<div class="container-fluid">
    <img src="../../../assets/images/map.jpg">
</div>