
<div class="contact-container">
    <div class="container center-container">
        <div class="row">
            <div class="col-md-2">
            </div>
            <div class="col-md-8">
                <h2 class="contact-heading">Contact Us</h2>
                <p class="contact-text">Looking for a good cafes in the city? online.cafe@gmail.com and visit us: No. 55, AS Char St, Jolly Mohalla, Ranasinghpete, Sultanpete, Bengaluru, Karnataka 560053. </p>
            </div>
            <div class="col-md-2">
            </div>
        </div>
    </div>
</div> <br>
<div class="container-fluid">
    <img src="../../../assets/images/map.jpg">
</div>