<nav class="navbar navbar-inverse top-navbar">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#">Bakalow Cafe</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a [routerLink]="['/admin/dashboard']">Menu</a></li>
        <li><a href="#">Gallery</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">
          Contact <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li>9876543210</li>
            <li>online.cafe@gmail.com</li>
          </ul>
        </li>
        <li><a class="book-btn">Book A Table</a></li>
        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><i class="fa-thin fa-user"></i>
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a [routerLink]="['/register']">Sign up</a></li>
            <li><a [routerLink]="['/login']">Login</a></li>
            <li><a [routerLink]="['/admin/dashboard']">Direct Admin Login</a></li>
            <li><a [routerLink]="['/user/dashboard']">Direct User Login</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </nav>