.rounded-button {
    border-radius: 20px; 
    margin: 5px;
  }
  .rounded-button {
    border: 2px solid green;
    background-color: transparent; 
    color: green; 
    border-radius: 20px;
    margin: 5px;
  }

  .rounded-button.active {
    background-color: green; 
    color: white; 
    border-color: green; 
  }
  .each-item{
    background-color: grey;
    opacity: 0.5;
  }
  .show{
    display: block;
  }